.one-book {
    width: 300px;
    margin-top: 50px;
}

.all-books {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}



.one-book img {
    width: 45%;
    height: 200px;
}

.main-heading {
    color: rgb(61, 54, 54);
    font-size: 25px;
     min-height: 60px;
}

